<app-layout>
  <app-side-nav [open]="showSidenav$ | async" (closeMenu)="closeSidenav()">
    <app-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" routerLink="/" icon="dashboard" hint="Head on home">
      Dashboard
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="loggedIn$ | async" routerLink="/heroes" icon="person" hint="See all the heroes">
      Heroes
    </app-nav-item>
    <app-nav-item (navigate)="closeSidenav()" *ngIf="!(loggedIn$ | async)" icon="login" hint="Sign Into Your Account">
      Sign In
    </app-nav-item>
    <app-nav-item (navigate)="logout()" *ngIf="loggedIn$ | async" icon="logout" hint="Sign Out of Your Account">
      Sign Out
    </app-nav-item>
  </app-side-nav>
  <app-toolbar (openMenu)="openSidenav()"></app-toolbar>
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
  <mat-card *ngIf="messageService.messages.length > 0">
    <app-messages [messages]="messageService.messages" (clearMessages)="clearMessages()"></app-messages>
  </mat-card>
</app-layout>
