.hero-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  &:after {
    clear:both;
  }
}

.mat-form-field {
  width: 100%;
}

.button-group {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  button:first-child {
    margin-right: .5rem;
  }
}
